.characterEditor {
  padding-top: 32px;
  padding-bottom: 64px;
}
@media (min-width: 768px) {
  .characterEditor {
    padding-top: 128px;
  }
}

.maxWidthWrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.header {
  padding-bottom: 64px;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    width: 65%;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 280px;
  left: 0;

  min-height: 500px;
}
@media (min-width: 768px) {
  .characterWrapper {
    top: 15%;
    left: 60%;
  }
}

.characterStage {
  position: fixed;
  bottom: 0;
  height: 40%;
  background-color: hsl(195deg, 20%, 86%);
  width: 100%;
}

.controlColumn {
  display: flex;
  overflow-x: scroll;
  margin-left: -32px;
  margin-right: -32px;

  position: relative;
  top: 25%;
}
@media (min-width: 768px) {
  .controlColumn {
    display: block;
    width: 50%;
    margin-left: 0;
    margin-right: 0;

    position: static;

    overflow-x: hidden;
  }
}
